		<!-- Carousel
		================================================== -->
		<div id="myCarousel" class="carousel slide" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		  </ol>
		  <div class="carousel-inner container">
			<div class="item active">
				<table style="margin:auto">
					<tr><td colspan="4" style="height:60px"></td></tr>
					<tr>
						<td style="padding:20px"><a href="" onfocus="blur()" data-toggle="modal" data-target="#myModal1"><img src="Images/btn_ifa.png" /></a></td>
						<td style="padding:20px"><img src="Images/icon_13.png" /></td>
						<td style="padding:20px"><img src="Images/icon_12.png" /></td>
						<td style="padding:20px"><img src="Images/menu_07.png" /></td>
					</tr>
					<tr><td colspan="4" style="height:40px"></td></tr>
					<tr>
						<td style="padding:20px"><a href="" onfocus="blur()" data-toggle="modal" data-target="#myModal5"><img src="Images/icon_15.png" /></a></td>
						<td style="padding:20px"><img src="Images/icon_11.png" /></td>
						<td style="padding:20px"><img src="Images/icon_10.png" /></td>
						<td style="padding:20px"><img src="Images/icon_09.png" /></td>
					</tr>
					<tr><td colspan="4" style="height:95px"></td></tr>
				</table>
			  <div class="container">
				<div class="carousel-caption">
				  <!--<h1>Example headline.</h1>-->
				</div>
			  </div>
			</div>
			<div class="item">
				<table style="margin:auto">
					<tr><td colspan="4" style="height:60px"></td></tr>
					<tr>
						<td style="padding:20px"><img src="Images/btn_ifa.png" /></td>
						<td style="padding:20px"><img src="Images/icon_13.png" /></td>
						<td style="padding:20px"><img src="Images/icon_12.png" /></td>
						<td style="padding:20px"><img src="Images/menu_07.png" /></td>
					</tr>
					<tr><td colspan="4" style="height:40px"></td></tr>
					<tr>
						<td style="padding:20px"><img src="Images/icon_15.png" /></td>
						<td style="padding:20px"><img src="Images/icon_11.png" /></td>
						<td style="padding:20px"><img src="Images/icon_10.png" /></td>
						<td style="padding:20px"><img src="Images/icon_09.png" /></td>
					</tr>
					<tr><td colspan="4" style="height:95px"></td></tr>
				</table>
			  <div class="container">
				<div class="carousel-caption">
				  <!--<h1>Another example headline.</h1>-->
				</div>
			  </div>
			</div>
		  </div>
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev" onfocus="blur()"><span class="glyphicon glyphicon-chevron-left"></span></a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next" onfocus="blur()"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div><!-- /.carousel -->

		<div class="container">
			<div style="margin:auto;background-image:url('Images/movie_bg.png');width:1080px;"><img src="Images/movie_001-1.png" /></div>
		</div>